{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include './partials/menu.html' %}
    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/emoji_1_smile.png' %} " alt="" width="350px" height="350px">
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Emoji Smile 1</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/Face with Cold Sweat Emoji.png' %} " alt="" width="350px" height="350px">
                        <!-- <img src="{% static 'img/bg-img/foto_news.png' %} " alt=""> -->
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Face with Cold Sweat Emoji</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/Face without Mouth Emoji.png' %} " alt="" width="350px" height="350px">
                        <!-- <img src="{% static 'img/bg-img/foto_news.png' %} " alt="" width="350px" height="350px"> -->
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Face without Mouth Emoji</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/Hugging Face Emoji.png' %} " alt="" width="350px" height="350px">
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Hugging Face Emoji</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/Smiling with Sweat Emoji.png' %} " alt="" width="350px" height="350px">
                        <!-- <img src="{% static 'img/bg-img/foto_news.png' %} " alt=""> -->
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Smiling with Sweat Emoji</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="{% static 'img/bg-img/Smiling Face Emoji 2.png' %} " alt="" width="350px" height="350px">
                        <div class="receipe-content">
                            <a href="{%  url 'news' %}">
                                <h5>Smiling Face Emoji 2</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include './partials/footer.html' %}
   
{% endblock %}
  